# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.venv

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3
*.db

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Environment variables / Secrets
.env
*.secret
